<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 第一步配置数据源
	<context:component-scan base-package="com.springmvc"></context:component-scan> -->	
    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:jdbcInfo.properties"/>
	<!-- 配置数据源 c3p0 通过properties-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<!-- 第二步配置mybatis的sqlSessionFactory -->
	<!-- mybatis sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定mybatis全局的配置文件 -->
		<property name="configLocation" value="classpath:SqlMapConfig.xml"/>
		<!-- 指定数据源 -->
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 配置多个Mapper 默认bean的id为类名首字母小写-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置扫描的包 -->
		<property name="basePackage" value="com.springmvc.dao"/>
		<!-- 默认不需要配置sqlSessionFactory(只有一个sqkSessionFactory时) -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	
	<!-- 第三步 配置事务 -->
	<!-- 事务 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 将事务管理器交给spring管理 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<!-- aop -->
	<aop:aspectj-autoproxy/>
</beans>